*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1: rgb(27, 3, 3);
    --color2: rgb(168, 154, 122);
    --color3: rgb(29, 1, 128);
    --color4: rgba(221, 221, 233, 0.377);
    --color5: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--color1);
    color: var(--color1);
    font: normal 20pt Arial;
}

h1{
    color: var(--color5);
    text-align: center;
}

label{
    color: var(--color5);
}

p{
    color: var(--color5);
}

.botao-size{
    margin-top: 15px;
    width: 100px;
    height: 50px;
    color: var(--color1);
}

#idade{
    width: 40px;
    height: 25px;
}

#nome{
    width: 200px;
    height: 25px;
}

.container{
    background-color: var(--color3);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--color5);
}

/* ESTILOS DO MODAL DO ALERTA */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
  .modal-content {
    background-color: var(--color3);    
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--color5);
    width: 300px;
    border-radius: 5px;
}
  
  .close-btn {
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: var(--color2);
    margin-left: 5px;
}
  
  .close-btn:hover {
    color: var(--color1);
}
  